
<%= form_with model: @article, local: true do |form| %>
 
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <div class="mb-3">
      <%= form.label :title, class:"form-label" %>
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :image, class:"form-label" %>
      <%= form.file_field :image, class:"form-control" %>
    </div>
   
    <div class="mb-3">
      <%= form.label :text, class:"form-label" %>
      <%= form.text_area :text, class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :status, class:"form-label" %>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
   
    <div class="mb-3">
      <%= form.submit class:"btn btn-primary"%>
    </div>
   
  <% end %>